

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 62.5;
}

body {
  line-height: 1.5;
  font-size: 1.6 rem
  font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

nav,
h1,
p {
  text-align: center;
}

.bold {
  font-weight: bold;
}

nav {
    display: inline-block;
    width: 100%;
    margin: 1% auto;
    padding: 4%;    

}

nav a {
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    padding: 1rem;
    width: 5%;
    margin: 4%;

}

.planbutton {
  background-color: #ff764e;
}

.learnbutton {
  background-color: #5ed3eb;
}

.getbutton {
  background-color: #ffcd69;
}

.mountainspic {
  width: 25%;
  padding: 2%;
  display: inline-block;
}

.mountainspic img {
    border-radius: 50%;
}

.opencontainer {
  display: inline-block;
  margin: auto;
}

.headercontainer {
  display: inline-block;
  width: 65%;
  margin: 1%;
}

.learnp {
  text-align: center;
  width: 92%;
  margin: 4%;
  background: #ddb9a3;
}

.learnp p {
  color: white;
  margin: 1%;

}

.campfirepic {
  margin: auto;
  width: 40%;
}
.firegroup {
    font-size: .6rem;
  width: 25%;
  margin: auto;
}

.rvpic {
  margin: auto;
  width: 40%;
}

.rvgroup {
  font-size: .6rem;
  width: 25%;
  margin: 5% auto;
}

.footermountain {
  width: 100%;
}

footer {
  background: #f9e7dc;
}

.footermountain {
    max-height: 12rem;
    overflow: hidden;
}

a {
  text-decoration: none;
}